body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.search-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.results-container {
    padding-top: 10%;
    overflow-y: auto;
    padding: 1rem;
}

/* Index page form styles */
.form-index {
    width: 500px;
    margin: 20px auto;
}

/* Search page form styles */
.form-search {
    margin: 3% auto 0px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 20%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

h1 {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 30px;
    font-weight: normal;
}

span {
    font-weight: bold;
    color: orange;
}

.result-heading {
    margin-bottom: 20px;
}

        
table {
    align-items: center;
}

td {
    font-size: 1.3rem
}

/* Media Queries */

@media (max-width: 991px) {
    form {
        width: 80%;
    }
    table {
        font-size: 14px;
    }
    h1 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    
}
@media (max-width: 767px) {
    form {
        width: 90%;
        flex-direction: column;
    }
    input[type="submit"] {
        margin-top: 0px;
        width: 30%;
    }
    table {
        font-size: 12px;
    }
    h1 {
        font-size: 1.5 rem;
    }
    h3 {
        font-size: 1.2 rem;
    }
}

