<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    {% block head %}
    <title>Từ điển Visaurus | Tìm từ đồng nghĩa trực tuyến</title>
    <meta name="description" content="Tìm các từ đồng nghĩa và các từ liên quan với từ điển đồng nghĩa trực tuyến miễn phí của chúng tôi. Cải thiện vốn từ vựng của bạn và thể hiện bản thân chính xác hơn với hàng triệu lựa chọn từ.">
    <!-- Social media -->
    <meta property="og:title" content="{{ title|default('Từ điển Visaurus | Tìm từ đồng nghĩa trực tuyến', true) }}" />
    <meta property="og:description" content="{{ description|default('Tìm các từ đồng nghĩa và các từ liên quan với từ điển đồng nghĩa trực tuyến miễn phí của chúng tôi. Cải thiện vốn từ vựng của bạn và thể hiện bản thân chính xác hơn với hàng triệu lựa chọn từ.', true) }}" />
    <meta property="og:image" content="{{ url_for('static', filename='favicon.png') }}" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:type" content="website" />
    {% endblock %}
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WF33DNTHTQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WF33DNTHTQ');
    </script>
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    <script>
        function submitSearch() {
            // Capture the searched word
            var searchInput = document.getElementById("search-input");
            var searchedWord = searchInput.value.trim().toLowerCase();

            // Send a custom event to Google Analytics
            gtag('event', 'search', {
                'event_category': 'thesaurus',
                'event_label': searchedWord
            });

            // Update the form's action attribute to redirect to the search results page
            var searchForm = document.getElementById("search-form");
            searchForm.action = "{{ url_for('search_results', slug='') }}" + searchedWord.replace(' ', '-');
        }
    </script>
    {% endblock %}
</body>
</html>