<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    {% block head %}
    <title>Visaurus - Từ điển từ đồng nghĩa tiếng Việt</title>
    <meta name="description" content="Tiếng Việt là ngôn ngữ đa dạng và phong phú, và từ điển từ đồng nghĩa Visaurus là một công cụ hữu ích để giúp người dùng tìm kiếm các từ có nghĩa tương đương hoặc gần giống nhau. Trang web từ điển từ đồng nghĩa Tiếng Việt đầu tiên này cung cấp cho người dùng một cách tiện lợi và nhanh chóng để tìm kiếm các từ đồng nghĩa trong Tiếng Việt. Với hơn hàng ngàn từ khác nhau và các chức năng tìm kiếm nâng cao, trang web này là một công cụ hữu ích cho những người quan tâm đến Tiếng Việt và mong muốn tìm hiểu thêm về ngôn ngữ đặc biệt này.">
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>