{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% set title = "Từ đồng nghĩa với " + word %}
    {% set description = "Tìm từ đồng nghĩa với " + word + " trong từ điển từ đồng nghĩa tiếng Việt." %}
{% endblock %}

{% block content %}
  <div class="search-page">
    <!-- Search form -->
    <form class="form-search" action="/search" method="post">
        <h3>Từ điển từ đồng nghĩa tiếng Việt</h3>
        <input type="text" name="word" placeholder="Nhập 1 từ ở đây...">
        <input type="submit" value="Tìm kiếm">
    </form>
    <!-- Display search results -->
    <div class="results-container">
      {% if word and synonyms %}
          <p>Từ đồng nghĩa với "{{ word }}"</p>
          <table class="table table-bordered">
              <tr>
                  {% set synonyms_list = synonyms.split(',') %}
                  {% set count = synonyms_list|length %}
                  {% for i in range(0, count, 4) %}
                      <tr>
                          {% for synonym in synonyms_list[i:i+4] %}
                              <td>{{ synonym }}</td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
              </tr>
          </table>
      {% endif %}
    </div>
  </div>
{% endblock %}