{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% set title = "Từ đồng nghĩa với " + word + "| Visaurus" %}
    {% set description = "Tìm từ đồng nghĩa với " + word + " trong từ điển Visaurus." %}
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById("search-form").addEventListener("submit", function (event) {
            event.preventDefault();
            const searchInput = event.target.elements.word;
            const word = searchInput.value.trim().toLowerCase();
            const wordSlug = word.replace(" ", "-");
            window.location.href = "{{ url_for('search_results', slug='') }}" + wordSlug;
        });
    </script>
{% endblock %}

{% block content %}
  <div class="search-page">
    <!-- Search form -->
    <form class="form-search" id="search-form" method="get">
        <h1>Từ điển từ đồng nghĩa tiếng Việt</h1>
        <input type="text" name="word" placeholder="Nhập 1 từ ở đây...">
        <input type="submit" value="Tìm kiếm">
    </form>
    <!-- Display search results -->
    <div class="results-container">
      {% if word and synonyms %}
          <h3>Từ đồng nghĩa với <span>"{{ word }}"</span></h3>
          <table class="table table-bordered">
              <tr>
                  {% set synonyms_list = synonyms.split(',') %}
                  {% set count = synonyms_list|length %}
                  {% for i in range(0, count, 4) %}
                      <tr>
                          {% for synonym in synonyms_list[i:i+4] %}
                              <td>{{ synonym }}</td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
              </tr>
          </table>
      {% endif %}
    </div>
  </div>
{% endblock %}