option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application
  "aws:elasticbeanstalk:application:environment":
    DATABASE_URL: postgresql://postgres:Neji1103!!@database-thesaurus.crnbbf6rv4rc.ap-southeast-1.rds.amazonaws.com:5432/postgres
    DB_TYPE: postgresql